.nav-mobile-bar {
  display: none;
}

.mobile-nav-view {
  display: block;
}

.mobile-nav-view ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.mobile-nav-view li {
  padding: 40px;
}

@media (max-width: 768px) {
  .nav-mobile-bar {
    width: 3rem;
    height: 3rem;
    background: transparent;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    margin-right: 5rem;
  }
  .nav-mobile-bar span {
    height: 2.5px;
    width: 3rem;
    background: white;
  }
  .desktop-nav-view {
    display: none;
  }
  h2 {
    margin-right: 20rem;
  }
}
