.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: blue;
    color: white;
}

h2 {
    padding: 20px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 20px;
    font-size: large;
}

.mobile__span {
    display: none;
}

@media (max-width: 768px) {
    .mobile__span {}
}