.navLinks {
    display: flex;
    justify-self: space-around;
}

.navLinks li {
    padding: 0 60px 0 60px;
    list-style: none;
    font-size: larger;
}

@media (max-width: 768px) {
    .navLinks {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navLinks li {
        margin: 1rem;
    }
}


/* .nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */