.container {
  display: grid;
  grid-template: 'header header header' 100px 'leftMenu main rightMenu' 1fr 'footer footer footer' 200px / 200px 1fr 200px;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: red;
  grid-area: header;
}

.leftMenu {
  background-color: yellow;
  grid-area: leftMenu;
}

.main {
  background-color: green;
  grid-area: main;
}

.rightMenu {
  background-color: blue;
  grid-area: rightMenu;
}

.footer {
  background-color: pink;
  grid-area: footer;
}
