.example-rem {
    font-size: 16px;
    width: 200px;
    /* Equal to 200px if the root font-size is 16px */
    height: 100px;
    /* Equal to 100px if the root font-size is 16px */
    background-color: lightcoral;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}