* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.data-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 10px;
    margin: 20px;
}

.card {
    display: grid;
    border: 2px solid orange;
    grid-template-rows: 100px 100px 100px;
    padding-top: 20px;
}